[submodule "UFO_Server"]
	path = UFO_Server
	url = https://github.com/Cozy-Ho/UFO_Server
[submodule "UFO_Mobile"]
	path = UFO_Mobile
	url = https://github.com/myungsworld/UFO_Mobile
[submodule "UFO_FabricNet"]
	path = UFO_FabricNet
	url = https://github.com/yuminee/UFO_FabricNet.git
